/*
Citation for starter code
Date: 06/09/2025
Code adapted from the bsg files from Exploration - Web Application Technology
URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
*/

h1, h2 { 
  margin-left: 16px;
  font-family: "Red Hat Display", sans-serif;
}
h1 {text-align: center;}
#homepage {text-align: justify;margin-top: 50px;margin-left: 130px;margin-right: 130px;line-height: 1.5;}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
th {background-color: #f2f2f2;}
tr:nth-child(even) {background-color: #f9f9f9;}
.cuForm { margin-left: 32px;}
input, select { margin-bottom: 4px;margin-right: 12px;}
nav {background-color: rgb(1, 116, 122);padding: 20px; border-radius: 35px;
    font-family: "Red Hat Display", sans-serif;
    text-align: center;}
a {margin-left: 16px;}
.homepageDescription {margin-left: 32px;}

.reset-button {
    margin-left: 50px;
    color: rgb(144, 0, 0);
    font-weight: bold;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Red Hat Display", sans-serif
}

a:hover {
  text-decoration: underline;
}